<div class="breadcrumb-shell">
  <div class="breadcrumb-trail">
    <div class="crumbs">
      <ng-container *ngIf="showDashboardCrumb">
        <ng-container *ngIf="disableDashboard; else dashboardLink">
          <span class="breadcrumb-link readonly" [title]="dashboardTooltip">Dashboard</span>
        </ng-container>
        <ng-template #dashboardLink>
          <a class="breadcrumb-link" routerLink="/dashboard">Dashboard</a>
        </ng-template>
        <span aria-hidden="true" class="crumb-separator">/</span>
      </ng-container>
      <span class="breadcrumb-current">{{ label }}</span>
    </div>
    <div class="breadcrumb-actions">
      <a
        *ngIf="!isOnProfile"
        routerLink="/profile"
        class="gear-button"
        aria-label="Go to profile settings"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-settings"
        >
          <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          <path
            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1-2.83 2.83l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 8.4 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 1 1-2.83-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H2a2 2 0 0 1 0-4h.09A1.65 1.65 0 0 0 3.6 8.6a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H8a1.65 1.65 0 0 0 1-1.51V2a2 2 0 0 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 1 1 2.83 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V8c0 .69.4 1.3 1.02 1.58.19.09.41.14.63.14H22a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1Z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
