.avatar {
  color: inherit;
  line-height: 1;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-initial {
  font-size: 0.95rem;
  line-height: 1;
}

.avatar-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon svg {
  width: 60%;
  height: 60%;
  color: inherit;
}
